name: build

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 13.10
        uses: actions/setup-node@v1
        with:
          node-version: '13.10'
      - name: Install npm and run unittest
        run: |
          npm install
        env:
          CI: true
      - name: Publish to Github Packages Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: imperium02/zbierito/deploypckg
          registry: docker.pkg.github.com
          username: imperium02
          password: ${{ secrets.GITHUB_TOKEN }}
          dockerfile: Dockerfile.prod
          tags: latest
      - name: Deploy package to digitalocean
        uses: appleboy/ssh-action@master
        env:
          G_USERNAME: imperium02
          G_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          envs: G_USERNAME, G_TOKEN
          script: |
            docker stop $(docker ps -a -q)
            docker login docker.pkg.github.com -u $G_USERNAME -p $G_TOKEN
            docker pull docker.pkg.github.com/imperium02/zbierito/deploypckg:latest
            docker run -dit -p 80:80 docker.pkg.github.com/imperium02/zbierito/deploypckg:latest